<div class="my_home_page_filter color-{{ section.settings.filter_color }}" >
    <div class="page-width">
        <div class="my_filter__inner">
            <div class="my_filter_text">
                <h4>{{ section.settings.filter_text }}</h4>
            </div>
            <div class="my_filter__input home_page_filter1">
                <select name="Occasion" class="my_filter__select small_body" id="Occasion">
                    <option value="Occasion">Occasion</option>
                    <option value="Occasion">Occasion</option>
                    <option value="Occasion">Occasion</option>
                    <option value="Occasion">Occasion</option>
                    <option value="Occasion">Occasion</option>
                </select>
            </div>
            <div class="my_filter__input home_page_filter2">
                <select name="Size" class="my_filter__select small_body" id="Size">
                    <option value="Size">Size</option>
                    <option value="Size">Size</option>
                    <option value="Size">Size</option>
                    <option value="Size">Size</option>
                    <option value="Size">Size</option>
                </select>
            </div>
            <div>
                <a href="{{ section.settings.button_link_1 }}" class="my_filter__btn button button--primary small_body">
                    {{ section.settings.button_label_1 }}
                </a>
            </div>
        </div>
    </div>
</div>

